<h1>Bienvenue Chief of Happiness !</h1>



<h1>Pâtisseries disponibles :</h1>

<%= form_tag "/coh/cselection", method: "patch" do %>
  <% @selected_cakes.each do |pastry|%>
    <%= pastry.name %>
    </br>
    <% if pastry.name == "Fruits" %>
      <% @colleagues_no_option.where(pastry: "Fruits").each do |c|%>
          <%= check_box_tag "fruits[]", c.name%>
          <%= c.name %>
          </br>
      <% end %>
      <%elsif pastry.name == "Cookies" %>
    <% @colleagues_no_option.where(pastry: "Cookies").each do |c|%>
        <%= radio_button_tag pastry.name, c.name, checked = true %>
        <%= c.name %>
        </br>

        <% end %>
        Pépites chocolat</br>
        <%= radio_button_tag "pepites", "blanc", checked = true %>
  Chocolat blanc
  <%= radio_button_tag "pepites", "noir" %>
  Chocolat noir
  </br>
  </br>
    <% else %>
        <% @colleagues_no_option.where(pastry: pastry.name).each do |c|%>
          <%= radio_button_tag pastry.name, c.name, checked = true %>
          <%= c.name %>
          </br>
        <% end %>
        </br>
      <% end %>
    <%end%>
    </br>
  <input type="submit" value="Sauvegarde battle" />
<% end %>

</br>
<p><a href="/">Retourner à l’accueil</a></p>
<p><a href="/linguini">Retourner à la décision Linguini</a></p>
<p><a href="/reinit">Réinitialiser la battle</a></p>
<p><a href="/colleagues">Base de données des collègues</a></p>
<p><a href="/patisseries">Base de données des pâtisseries</a></p>
