<%= form_with(model: colleague, local: true) do |form| %>
  <% if colleague.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(colleague.errors.count, "error") %> prohibited this colleague from being saved:</h2>

      <ul>
      <% colleague.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :pastry %>
    <%= form.text_field :pastry %>
  </div>

  <div class="field">
    <%= form.label :selectioned %>
    <%= form.check_box :selectioned %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
