<p id="notice"><%= notice %></p>

<h1>Colleagues</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Pâtisserie</th>
      <th>Séléctionné.e</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colleagues.each do |colleague| %>
      <tr>
        <td><%= colleague.name %></td>
        <td><%= colleague.pastry %></td>
        <td><%= colleague.selectioned %></td>
        <td><%= colleague.cake_id %></td>
        <td><%= link_to 'Show', colleague %></td>
        <td><%= link_to 'Edit', edit_colleague_path(colleague) %></td>
        <td><%= link_to 'Destroy', colleague, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colleague', new_colleague_path %>
